.qdfzjh_div{
	width:100%;height:680px;margin-top:80px;background-color:#f7f7f7;padding:1px;
}
.qdfzjh_div .title_div{
	width:1040px;height:75px;line-height:75px;margin:10px auto;font-size:30px;text-align: center;
}
.qdfzjh_div .content_div{
	width:1040px;margin:0 auto;
}
.qdfzjh_div .content_div .people_div{
	width:200px;height:202px;margin-top:130px;
}
.qdfzjh_div .content_div .people1_img{
	width:197px;height:199px;
}
.qdfzjh_div .content_div .people2_img{
	width:173px;height:175px;margin-top:12px;margin-left:-185px;position: absolute;
}
.qdfzjh_div .content_div .point1_img{
	width:70px;height:48px;margin-top:-225px;margin-left:175px;position: absolute;
}
.qdfzjh_div .content_div .point2_img{
	width:55px;height:11px;margin-top:-110px;margin-left:203px;position: absolute;
}
.qdfzjh_div .content_div .point3_img{
	width:70px;height:43px;margin-top:-31px;margin-left:176px;position: absolute;
}
.qdfzjh_div .content_div .people_count_div{
	width:70px;height:70px;
}
.qdfzjh_div .content_div .people_count_div img{
	width:100%;height:100%;
}
.qdfzjh_div .content_div .people_count_div .count_div{
	width:70px;height:70px;line-height:70px;margin-top:-74px;color:#fff;font-size:25px;font-weight:bold;text-align:center;
}
.qdfzjh_div .content_div .pc1_div{
	margin-top:-262px;margin-left:255px;
}
.qdfzjh_div .content_div .pc2_div{
	margin-top:50px;margin-left:255px;
}
.qdfzjh_div .content_div .pc3_div{
	margin-top:50px;margin-left:255px;
}
.qdfzjh_div .content_div .peo_desc_div{
	width:200px;;margin-left:343px;color:#595959;font-size:20px;
}
.qdfzjh_div .content_div .qgfz_div{
	margin-top:-317px
}
.qdfzjh_div .content_div .dzcg_div{
	margin-top:45px;
}
.qdfzjh_div .content_div .qgyexcs_div{
	margin-top:43px;
}
.qdfzjh_div .content_div .cxjd_div{
	width:440px;height:545px;margin-top:-357px;margin-left:595px;background:url(../UserFiles/FriendLink/image/20211015/202110150026.png) top center no-repeat;
}
.qdfzjh_div .content_div .cxjd_div .title_bg_img{
	margin-top:40px;margin-left:-10px;
}
.qdfzjh_div .content_div .cxjd_div .title_text_div{
	width:180px;height:60px;line-height:60px;margin-top:-63px;color:#fff;font-size:30px;text-align:center;
}
.qdfzjh_div .content_div .cxjd_div .jd_list_div{
	width:380px;margin:0 auto;padding:1px;
}
.qdfzjh_div .content_div .cxjd_div .jd_list_div .jd_item_div{
	font-size:20px;margin-top:20px;
}
.qdfzjh_div .content_div .cxjd_div .jd_list_div .jd_item_div .jd_tit_span{
	font-weight:bold;
}
.qdfzjh_div .content_div .cxjd_div .jd_list_div .jd_item_div .jd_cont_span{
	color: #595959;
}

.dljmms_div{
	width:100%;margin-bottom:30px;background-color:#fff;padding:1px;
}
.dljmms_div .title_div{
	width:1040px;height:50px;line-height:50px;margin:40px auto;font-size:30px;text-align: center;
}
.dljmms_div .content_div{
	width:1040px;margin:0 auto;
}
.dljmms_div .content_div .left_div{
	width:255px;height:430px;text-align:center;
}
.dljmms_div .content_div .left_div img{
	width:173px;height:173px;margin-top:50px;
}
.dljmms_div .content_div .left_div .text_div{
	width:250px;height:50px;line-height:50px;margin:20px auto 0;color:#fff;font-size:25px;background-color:#484849;
}
.dljmms_div .content_div .right_div{
	width:630px;height:430px;margin-top:-430px;margin-left:400px;
}
.dljmms_div .content_div .right_div .num_list_div{
	width:50px;height:315px;margin-top: 50px;
}
.dljmms_div .content_div .right_div .num_list_div .item_div{
	width:50px;height:50px;line-height:50px;color:#fff;font-size:25px;text-align:center;border-radius:3px;
}
.dljmms_div .content_div .right_div .num_list_div .line_div{
	width:2px;height:80px;margin:0 auto;background-color:#000;
}
.dljmms_div .content_div .right_div .num_list_div .num1_div{
	background-color:#000;
}
.dljmms_div .content_div .right_div .num_list_div .num2_div{
	background-color:#7CCA62;
}
.dljmms_div .content_div .right_div .num_list_div .num3_div{
	background-color:#FF9900;
}
.dljmms_div .content_div .right_div .jmms_list_div{
	width:800px;height:430px;margin-top:-380px;margin-left:170px;
}
.dljmms_div .content_div .right_div .jmms_list_div .jmms2_div,.dljmms_div .content_div .right_div .jmms_list_div .jmms3_div{
	margin-top:30px;
}
.dljmms_div .content_div .right_div .jmms_list_div .item_div .tit_div{
	height:40px;color:#595959;font-size:25px;
}
.dljmms_div .content_div .right_div .jmms_list_div .item_div .cont_div .row_div{
	color:#595959;font-size:20px;
}

.foot_div{
	width:100%;height:282px;background-color:#1F232A;
}
.foot_div .content_div{
	width:1340px;height:230px;margin:0 auto;
}
.foot_div .space_div{
	height:25px;
}
.foot_div .row_div{
	font-size: 15px;color: #FFFFFF;line-height: 45px;text-align:left;letter-spacing: 0;
}
.foot_div .bah_div{
	width:1440px;
	font-size: 14px;
	color: #999;
	text-align: center;
	letter-spacing: 0;
	margin:0 auto;
	padding-top:15px;
	border-top:#999 solid 1px;
}