.logo_div{
	width:100%;
	height:380px;
	margin-top: 80px;
	background: rgba(0, 0, 0, 0) url("../UserFiles/FriendLink/image/20190807/20190807153606_3378.png") no-repeat scroll center center;
	visibility: visible;
	animation-duration: 1s;
	animation-delay: 0.3s;
	animation-name: zoomIn;
}

.about_title{
	width:1200px;
	height:60px;
	margin:60px auto 0;
}
.case_title1{
    height: 60px;
    width: 458px;
    background: url(../images/title_l.png) right 17px no-repeat;
}
.case_title2 {
    float: left;
    width: 284px;
    height: 60px;
}
.about_title2_1 {
    width: 100%;
    height: 35px;
    font-size: 35px;
    color: #333;
    line-height: 35px;
	text-align:center;
}
.about_title2_2 {
    width: 100%;
    line-height: 14px;
    margin-top: 10px;
    font-size: 14px;
    font-family: "Arial";
    color: #666;
	text-align:center;
}
.case_title3 {
    float: right;
    height: 60px;
    width: 458px;
    background: url(../images/title_r.png) left 17px no-repeat;
}
.cxtcl_bg_div,.qltcl_bg_div{
	margin-top:20px;background-color:#f7f7f7;
}
.cxtcl_div,.stts_div,.qltcl_div{
	width:1200px;height:450px;margin:0 auto;padding:1px;
}
.cxtcl_div .title_div,.stts_div .title_div,.qltcl_div .title_div{
	width:100%;margin:20px auto;text-align:center;font-size:30px;
}
.cxtcl_img,.qltcl_img{
	width:600px;
}
.cxtcl_div .new_div,.qltcl_div .new_div{
	width:600px;height:337px;margin-top:-337px;margin-left:600px;
}
.cxtcl_div .xmgk_div,.qltcl_div .xmgk_div{
	width:120px;height:40px;line-height:40px;margin:10px 0 15px 60px;color:#fff;font-size:20px;text-align:center;background-color:#ED7C2F;border-radius:5px;
}
.cxtcl_div .row_div,.qltcl_div .row_div{
	width:540px;height:35px;line-height:35px;margin-left:60px;color:#666;font-size:20px;
}

.stts_bg_div{
	margin-top:20px;background-color:#fff;
}
.stts_div .new_div{
	width:600px;height:337px;
}
.stts_div .xmgk_div{
	width:120px;height:40px;line-height:40px;margin:10px 0 15px 0;color:#fff;font-size:20px;text-align:center;background-color:#ED7C2F;border-radius:5px;
}
.stts_div .row_div{
	width:540px;height:35px;line-height:35px;color:#666;font-size:20px;
}
.stts_img{
	width:600px;margin-top:-337px;margin-left:600px;
}

.img_list_div{
	width:1200px;height:auto;margin:30px auto;
}
.img_list_div .item_div{
	width:400px;height:203px;
}
.img_list_div .cxtcl_div{
	margin-top:-203px;margin-left:400px;
}
.img_list_div .stts_div{
	margin-top:-206px;margin-left:800px;
}
.img_list_div .item_div .img_div{
	width:355px;height:195px;margin:0 auto;
}
.img_list_div .item_div .img_div img{
	width:100%;height:100%;
}
.img_list_div .item_div .img_div .text_div{
	width:355px;height:60px;line-height:60px;margin-top:-60px;color:#FFF;font-size: 16px;text-align:center;background:url(../images/case3.png) repeat;position:absolute;z-index:1;
}

.foot_div{
	width:100%;height:282px;background-color:#1F232A;
}
.foot_div .content_div{
	width:1340px;height:230px;margin:0 auto;
}
.foot_div .space_div{
	height:25px;
}
.foot_div .row_div{
	font-size: 15px;color: #FFFFFF;line-height: 45px;text-align:left;letter-spacing: 0;
}
.foot_div .bah_div{
	width:1440px;
	font-size: 14px;
	color: #999;
	text-align: center;
	letter-spacing: 0;
	margin:0 auto;
	padding-top:15px;
	border-top:#999 solid 1px;
}