@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
a{ text-decoration:none;}
li{ list-style:none;}
table,tr,td,ul,li,dl,dt,dd,div{ border:0;}
img{ border:0;}
body{ font-size:12px; font-family:微软雅黑; overflow-x: hidden;}
.float_l{ float:left !important;}
.float_r{ float:right !important;}
.blank0{ width:100%; height:0px; clear:both;}
.blank10{ width:100%; height:10px; clear:both;}
.blank15{ width:100%; height:15px; clear:both;}
.blank20{ width:100%; height:20px; clear:both;}
.blank30{ width:100%; height:30px; clear:both;}
.blank40{ width:100%; height:40px; clear:both;}
.blank50{ width:100%; height:50px; clear:both;}
.blank60{ width:100%; height:60px; clear:both;}
.max_w100{ max-width:100%;}

/*首页*/
.center{ width:1200px; margin:0 auto;}

.header{ width:100%; height:106px; background:url(../images/header_bg.jpg) top center no-repeat; position:fixed; left:0; top:0; z-index:100; display:block;}
.logo{ display:block; position:absolute; left:3%; top:21px;}
.nav{ position:absolute; top:0; left:35%; width:808px; height:105px;}
.nav li{ float:left; width:100px; margin-left:1px;}
.nav li a{ display:block; width:100px; height:105px; line-height:105px; font-size:16px; color:#FFF; position:relative; overflow:hidden;}
.nav li .a_on{ color:#ff0000; font-weight:bold;}
.nav li a .span1{ display:block; width:100%; height:105px; position:absolute; top:0; left:0; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -ms-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;}
.nav li a .span2{ display:block; width:100%; height:105px; position:absolute; top:105px; left:0; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -ms-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;}
.nav li a:hover .span1{ top:-105px; color:#ff0000; font-weight:bold;}
.nav li a:hover .span2{ top:0; color:#ff0000; font-weight:bold;}
.nav li .a_on:hover .span1{ top:0;}
.nav li .a_on:hover .span2{ top:105px;}

.header_r{ position:absolute; right:3%; top:43px;}
.header_r1{ float:right; display:block; width:34px; height:20px; line-height:20px; font-size:16px; color:#FFF; text-align:left; background:url(../images/header1.png) right 7px no-repeat; margin-right:15px;}
.header_r2{ float:right; width:20px; height:20px; background:url(../images/header2.png) no-repeat center center; cursor:pointer;}
.header_r3{ display:none; position:absolute; top:26px; right:0; width:200px; height:24px; border:1px solid #FFF; -webkit-border-radius:12px; -moz-border-radius:12px; border-radius:12px;}
.header_r3_1{ float:left; margin-left:10px; width:160px; height:24px; line-height:24px; border:none; background:none; outline:none; font-family:"微软雅黑"; font-size:13px; color:#FFF;}
.header_r3_2{ float:left; width:30px; height:24px; border:none; background:url(../images/header2.png) center center no-repeat; cursor:pointer; outline:none;}
.header_r4{ float:right; width:15px; height:16px; border-left:1px solid #FFF; margin-top:2px;}

.top_nav{ position:fixed; z-index:99; width:34px; height:34px; overflow:hidden; cursor:pointer; right:3%; top:40px; display:none;}
.top_nav1{ float:left; width:34px; height:4px; background:#d7000f;}
.top_nav2{ float:left; width:34px; height:4px; background:#d7000f; margin-top:7px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;}
.top_nav3{ float:left; width:34px; height:4px; background:#d7000f; margin-top:7px;}
.top_nav:hover .top_nav2{ margin-left:50%;}

.nav_out{ width:100%; height:100%; position:fixed; top:0; left:0; background:#006aa9; z-index:1000; display:none;}
.nav_out1{ float:left; margin-left:3%; display:block; margin-top:21px;}
.nav_out_close{ float:right; margin-right:3%; margin-top:35px; width:33px; height:33px; background:url(../images/close.jpg) no-repeat; cursor:pointer;}
.nav_out2{ width:100%; margin:200px auto 0 auto; overflow:hidden; clear:both; position:relative;}
.nav_out2_bg{ width:100%; height:0; border-bottom:1px solid rgba(255,255,255,.1); position:absolute; top:52px; left:0;}
.nav_out3{ display:inline-block; overflow:hidden; vertical-align:top; margin:0 40px;}
.nav_out3_1{ float:left; display:block; font-size:16px; color:#FFF; padding-bottom:30px; margin-bottom:30px; border-bottom:3px solid rgba(255,255,255,.1); -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;}
.nav_out3 ul{ float:left; clear:both;}
.nav_out3 ul li{ float:left; clear:both;}
.nav_out3 ul li a{ float:left; display:block; font-size:14px; color:rgba(255,255,255,.7); line-height:34px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;}
.nav_out3:hover .nav_out3_1{ border-bottom:3px solid rgba(255,255,255,1)}
.nav_out3:hover ul li a:hover{ color:rgba(255,255,255,1);}

.mobile_bg{ width:100%; overflow:hidden; display:none; background:#2d5fc0;}

.section1{height: 694px;}
#focusBar{ width:100%;height:100%;clear:both;position:relative; overflow:hidden;}
#focusBar .mypng{ padding-top:0px;}
#focusBar li{ width:100%;clear:both;height:100%;display:none;position:absolute;/* position:relative;*/ }
#focusBar .focusL{ height:700px;position:absolute;z-index:9;/*left:-1000px;*/ top:50%;left:-640px;margin-left:50%;margin-top:-300px;}
#focusBar .focusR{ height:700px;position:absolute;z-index:10;/* right:1000px;*/top:50%;left:-640px;margin-left:50%;margin-top:-300px;}
#focusBar .arrL,#focusBar .arrR{ display:block;width:52px;height:134px;position:absolute;top:50%;z-index:11111;cursor:pointer;background:url(../images/banner_arrow.png) no-repeat;}
#focusBar .arrL { background-position: 0 0; left: 5%; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;}
#focusBar .arrR { background-position: -68px 0; right: 5%; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;}
#focusBar .arrL:hover { background-position: 0 -144px; left: 5%;}
#focusBar .arrR:hover { background-position: -68px -144px; right: 5%;}

.index1{ display:none; width:100%; overflow:hidden;}

.section2{ background:url(../images/section2_bg.jpg) center center no-repeat;margin-top:50px; background-size:cover;}
.title2{ width:816px;height:50px;line-height:50px;margin:0 auto;font-size:30px;}
.section2 .content_div{
	width:816px;text-align:center;margin:30px auto;
}

/* 本例子css */
.slideTxtBox{ width:1100px; margin:1% auto; overflow:hidden; opacity:1; position:relative; left:0px;}
.slideTxtBox .hd{ float:left; width:100%; overflow:hidden;}
.slideTxtBox .hd ul{ float:left; width:100%; overflow:hidden;}
.slideTxtBox .hd ul li{ float:left; height:44px; line-height:44px; border:1px solid #999; color:#999; font-size:16px; cursor:pointer; padding:0 15px; margin:0 5px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;}
.slideTxtBox .hd ul li a{ color:#999;}
.slideTxtBox .hd ul li.on{ background:#d7000f; color:#FFF; border:1px solid #d7000f;}
.slideTxtBox .hd ul li.on a{ color:#FFF;}
.slideTxtBox .bd{ float:left; width:100%; overflow:hidden; padding:15px 0;}
.slideTxtBox .bd ul{ float:left; width:100%; overflow:hidden; zoom:1;}
.slideTxtBox .bd li{ width:100%; overflow:hidden;}
.slideTxtBox .bd li img{  margin:0 auto;display:block;}
.next_screen{ width:29px; height:81px; margin:0 auto; cursor:pointer; opacity:1; position:relative; top:0px;}
.next_screen img{ -webkit-animation:play 2s linear infinite; -moz-animation:play 2s linear infinite; -ms-animation:play 2s linear infinite; -0-animation:play 2s linear infinite; animation:play 2s linear infinite;}
.next_screen1 img{ -webkit-animation:play 2s linear infinite; -moz-animation:play 2s linear infinite; -ms-animation:play 2s linear infinite; -0-animation:play 2s linear infinite; animation:play 2s linear infinite;}
@-webkit-keyframes play{
    0%  {
        margin-top:10px;
    }
	30% {
        margin-top:5px;
	}
	90% {
        margin-top:15px;
	}
    100% {
        margin-top:10px;
    }
}
@-moz-keyframes play{
    0%  {
        margin-top:10px;
    }
	30% {
        margin-top:5px;
	}
	90% {
        margin-top:15px;
	}
    100% {
        margin-top:10px;
    }
}
@-ms-keyframes play{
    0%  {
        margin-top:10px;
    }
	30% {
        margin-top:5px;
	}
	90% {
        margin-top:15px;
	}
    100% {
        margin-top:10px;
    }
}
@-o-keyframes play{
    0%  {
        margin-top:10px;
    }
	30% {
        margin-top:5px;
	}
	90% {
        margin-top:15px;
	}
    100% {
        margin-top:10px;
    }
}
@keyframes play{
    0%  {
        margin-top:10px;
    }
	30% {
        margin-top:5px;
	}
	90% {
        margin-top:15px;
	}
    100% {
        margin-top:10px;
    }
}

.index2{ display:none; width:100%; overflow:hidden; background:url(../images/section2_bg.jpg) no-repeat center center; background-size:cover;}

.section3{ padding:1px;background:url(../images/section3_bg.jpg) center center no-repeat; background-size:cover;}
.title3{ height:17%; clear:both; margin:50px auto 0; display:block; opacity:1; position:relative; left:0px;}
.swiper-container1 {
	width: 1100px;
	height: auto;
	margin:2% auto 3% auto;
	padding:0 50px;
	overflow:hidden;
	position:relative;
	opacity:1; 
	position:relative; 
	left:0px;
}
.swiper-container1 .swiper-slide {
	text-align: top;
	font-size: 18px;
	background: #fff;
	height:auto;
	padding-bottom:15px;
	
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: top;
	-ms-flex-pack: top;
	-webkit-justify-content: top;
	justify-content: top;
	-webkit-box-align: top;
	-ms-flex-align: top;
	-webkit-align-items: top;
	align-items: top;
}
.swiper-container1 .swiper-button-prev1{ position:absolute; left:0; top:50%; width:40px; height:40px; background:url(../images/section3_4.png) center center no-repeat #367eea; z-index:100; cursor:pointer; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; overflow:hidden; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;}
.swiper-container1 .swiper-button-next1{ position:absolute; right:0; top:50%; width:40px; height:40px; background:url(../images/section3_5.png) center center no-repeat #367eea; z-index:100; cursor:pointer;-webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; overflow:hidden; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;}
.swiper-container1 .swiper-button-prev1:hover{ background:url(../images/section3_4on.png) center center no-repeat #fff;}
.swiper-container1 .swiper-button-next1:hover{ background:url(../images/section3_5on.png) center center no-repeat #fff;}
.section3_1{ display:block; width:100%; overflow:hidden; position:relative;}
.section3_2{ display:block; width:100%;}
.section3_3{ position:absolute; display:block; width:100%; top:0; left:0; filter: alpha(opacity=0); -moz-opacity: 0; -khtml-opacity: 0; opacity: 0; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;}
.section3_4{ width:100%; overflow:hidden; text-align:left;}
.section3_5{ width:90%; margin:18px auto 0 auto; font-size:18px; font-weight:bold; color:#474643; height:30px; line-height:30px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.section3_6{ width:90%; margin:8px auto 0 auto; font-size:14px; color:#666666; height:20px; line-height:20px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.section3_7{ width:90%; margin:18px auto 0 auto; font-size:13px; color:#666; height:38px; line-height:38px; background:url(../images/section3_6.png) right center no-repeat; border-top:1px solid #666;}
.section3_1:hover .section3_3{ filter: alpha(opacity=100); -moz-opacity: 1; -khtml-opacity: 1; opacity: 1;}
.section3_more{ margin:0 auto 2% auto; display:block; width:170px; height:38px; line-height:38px; border:1px solid #FFF; font-size:14px; color:#FFF; opacity:1; position:relative; left:0px;}
.section3_more:hover{ background:#FFF; color:#1947a5;}

.index3{ display:none; width:100%; overflow:hidden; background:url(../images/section3_bg.jpg) no-repeat center center; background-size:cover;}

.section6{ padding: 1px;background:url(../images/section6_bg.jpg) center center no-repeat; background-size:cover;}
.title6{ height:17%; clear:both; margin:50px auto 0; display:block; opacity:1; position:relative; left:0px;}
.section6_1{ display:inline-table; margin:3% auto 0 auto; opacity:1; position:relative; left:0px;}
.section6_1 li{ float:left; margin:0 3px;}
.section6_1 li a{ display:block; width:112px; height:35px; line-height:35px; border:1px solid #999999; font-size:16px; color:#999999; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;}
.section6_1 li a:hover{ background:#d7000f; color:#FFF; border:1px solid #d7000f;}
.section6_2{ width:1170px; height:342px; margin:2% auto 0 auto; background:url(../images/section6_4.png) no-repeat left 52px; position:relative; opacity:1; position:relative; left:0px;}

.swiper-container3 {
	width: 700px;
	height: 342px;
	overflow:hidden;
	position:relative;
	float:left;
	margin-left:112px;
	z-index:10;
}
.swiper-container3 .swiper-slide {
	text-align: top;
	font-size: 18px;
	height:auto;
	
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: top;
	-ms-flex-pack: top;
	-webkit-justify-content: top;
	justify-content: top;
	-webkit-box-align: top;
	-ms-flex-align: top;
	-webkit-align-items: top;
	align-items: top;
}
.swiper-container3 .swiper-slide img{ display:block; width:100%; max-width:100%; height:100%;}
.swiper-container3_1{ width:398px; height:252px; position:absolute; bottom:0; right:0; z-index:100;}
.swiper-container3 .swiper-button-prev3{ position:absolute; left:0; bottom:0; width:40px; height:40px; background:url(../images/section6_2.png) center center no-repeat #cacaca; z-index:100; cursor:pointer; overflow:hidden; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;}
.swiper-container3 .swiper-button-next3{ position:absolute; left:40px; bottom:0; width:40px; height:40px; background:url(../images/section6_3.png) center center no-repeat #cacaca; z-index:100; cursor:pointer; overflow:hidden; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;}
.swiper-container3 .swiper-button-prev3:hover{ background:url(../images/section6_2.png) center center no-repeat #e6212a;}
.swiper-container3 .swiper-button-next3:hover{ background:url(../images/section6_3.png) center center no-repeat #e6212a;}

.section6_3{ float:left; width:398px; height:212px; background:url(../images/section6_5.png) repeat; text-align:left;}
.section6_4{ float:left; width:86%; margin-left:7%; margin-top:30px; font-size:24px; color:#FFF; font-weight:bold; height:44px; line-height:24px; position:relative;}
.section6_4 span{ position:absolute; width:30px; height:1px; background:#FFF; left:0; bottom:0;}
.section6_5{ float:left; width:84%; margin-left:7%; margin-top:15px; font-size:14px; color:#dddddd; height:96px; line-height:24px; overflow:hidden;}
.section6_more{ display:block; width:122px; height:38px; line-height:38px; border:1px solid #d7000f; background:#d7000f; margin:1.5% auto 2.5% auto; font-size:14px; color:#FFF; opacity:1; position:relative; left:0px;}
.section6_more:hover{ background:#FFF; color:#d7000f;}

.index6{ display:none; width:100%; overflow:hidden; background:url(../images/section6_bg.jpg) no-repeat center center; background-size:cover;}

/* about css */
.nav_blank{ width:100%; height:106px; clear:both; display:block;}

.banner{ width:100%; height:380px; overflow:hidden; display:block;}
.banner_mobile{ display:none; width:100%; overflow:hidden;}
.banner_mobile img{ display:block; width:100%;}

.class_nav{ width:100%; height:59px; border-bottom:1px solid #e5e5e5; overflow:hidden; position:relative; display:block;}
.class_nav .about_nav{ border-left:1px solid #e5e5e5; position:absolute; top:0; left:50%; margin-left:-600px;}
.class_nav .about_nav li{ float:left; border-right:1px solid #e5e5e5;}
.class_nav .about_nav li a{ display:block; height:59px; line-height:59px; font-size:16px; color:#333333; padding:0 68.5px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;}
.class_nav .about_nav li a:hover{ background:#d7000f; color:#FFF;}
.class_nav .about_nav li .a_on{ background:#d7000f; color:#FFF;}

.about_title{ width:1200px; margin:60px auto 0 auto; height:60px; overflow:hidden;}
.about_title1{ float:left; height:60px; width:508px; background:url(../images/title_l.png) right 17px no-repeat;}
.about_title2{ float:left; width:184px; height:60px;}
.about_title2_1{ width:100%; font-size:35px; color:#333; line-height:35px;}
.about_title2_2{ width:100%; font-size:14px; font-family:"Arial"; color:#666; line-height:14px; margin-top:10px;}
.about_title3{ float:right; height:60px; width:508px; background:url(../images/title_r.png) left 17px no-repeat;}

.about{ width:900px; margin:40px auto 0 auto; font-size:24px; color:#5b5d5b; line-height:48px; padding:0 0 55px 0; background:url(../images/about_1.png) bottom center no-repeat;}
.about b{ color:#e83235;}
.about_1{ width:100%; height:389px; overflow:hidden; background:url(../images/about_3.jpg) top center no-repeat; margin-top:35px;}
.about_1 img{ display:block; margin:0 auto; width:1002px; max-width:94%;}

.about_2{ width:1100px; margin:0 auto; padding:90px 0; overflow:hidden;}
.about_2_1{ width:100%; overflow:hidden;}
.about_2_2{ width:50%; overflow:hidden; text-align:left;}
.about_2_2_1{ width:95%; overflow:hidden; font-size:28px; font-weight:bold; color:#333; line-height:32px;}
.about_2_2_2{ width:95%; overflow:hidden; font-size:14px; color:#666; line-height:28px; margin-top:35px;}
.about_2_2_3{ margin-top:45px;}
.about_2_3{ width:50%; overflow:hidden;}
.about_2_3 img{ display:block; max-width:100%;}

/* about1 css */
.about1{ width:1170px; margin:0 auto; overflow:hidden; padding:65px 0 90px 0;}
.about1_l{ float:left; width:513px; overflow:hidden;}
.about1_l1{ float:left; width:100%; overflow:hidden; text-align:left; margin-top:38px; cursor:pointer;}
.about1_l2{ float:left; width:100%; overflow:hidden; position:relative; font-size:24px; font-weight:bold; color:#444; height:38px; line-height:24px;}
.about1_l2 span{ display:block; width:55px; height:2px; background:#203071; position:absolute; bottom:0; left:0; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;}
.about1_l3{ float:left; width:100%; overflow:hidden; font-size:16px; color:#444; line-height:24px; margin-top:10px;}
.about1_r{ float:right; width:647px; overflow:hidden;}
.about1_r img{ display:block; max-width:100%;}
.about1_l1:hover .about1_l2 span{ width:95px;}

/* about2 css */
.about2{ width:1200px; margin:30px auto; overflow:hidden; background:url(../images/about2_1.jpg) bottom center repeat-y;}
.about2 li{ width:100%; overflow:hidden; margin:20px auto 0 auto; background:url(../images/about2_2.jpg) center 20px no-repeat;}
.about2_1{ width:570px; line-height:60px; font-size:48px; font-family:"Arial"; color:#d7000f;}
.about2_1 span{ font-size:16px; font-family:"微软雅黑";}
.about2_2{ width:530px; background:#f6f6f6; font-size:16px; color:#35393b; line-height:26px; padding:17px 15px; -webkit-border-radius:15px; -moz-border-radius:15px; border-radius:15px;}

/* about3 css */
.about3{ width:1200px; margin:0 auto; overflow:hidden;}

.honor3{ width:1022px; margin:0 auto; overflow:hidden; background:url(../images/about3_2.jpg) top center repeat-y; padding:0 89px;}
.honor3 li{ float:left; width:298px; height:435px; background:url(../images/about3_1.jpg) center 62px no-repeat; margin:0 21px; overflow:hidden;}
.honor3_1{ float:left; margin-top:71px; margin-left:9px; display:block; overflow:hidden; outline:none;}
.honor3_1 img{ display:block;}
.honor3_2{ float:left; width:90%; padding:0 5%; text-align:center; font-size:16px; color:#666666; margin-top:10px; height:54px; line-height:54px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

.page{ width:1200px; max-width:94%; margin:0 auto; clear:both; overflow:hidden; min-height:45px; padding:45px 0;}

/* about4 css */
.about4_title1{ float:left; height:60px; width:308px; background:url(../images/title_l.png) right 17px no-repeat;}
.about4_title2{ float:left; width:584px; height:60px;}
.about4_title3{ float:right; height:60px; width:308px; background:url(../images/title_r.png) left 17px no-repeat;}

.about4{ width:1200px; min-height:358px; padding:80px 0; margin:0 auto; background:url(../images/about4_1.jpg) center 47px no-repeat; overflow:hidden;}
.about4_l{ float:left; width:600px; overflow:hidden;}
.about4_r{ float:right; width:600px; overflow:hidden; position:relative;}
.about4_l ul{ float:left; width:100%; overflow:hidden; margin-top:100px; text-align:left;}
.about4_l ul li{ float:left; width:33.33%; overflow:hidden;}
.about4_l1{ float:left; width:100%; overflow:hidden; font-family:"Verdana"; font-size:48px; color:#2b5cb9; font-weight:bold; line-height:48px; height:48px;}
.about4_l1 .span1{ font-size:36px; font-weight:normal;}
.about4_l1 .span2{ font-size:18px; font-family:"微软雅黑"; font-weight:normal;}
.about4_l2{ float:left; width:100%; overflow:hidden; font-size:16px; color:#666; line-height:20px; margin-top:10px;}
.about4_l3{ float:left; width:100%; overflow:hidden; width:60px; height:1px; background:#d4d4d4; margin-top:12px;}
.about4_r1{ width:196px; height:146px; background:#0065b5; z-index:1; position:absolute; top:0; left:0;}
.about4_r2{ position:relative; z-index:10; display:block; float:left; margin-top:28px; margin-left:28px;}

.about4_1{ width:100%; min-height:637px; overflow:hidden; background:url(../images/about4_8.jpg) top center no-repeat #fafafa; padding:40px 0;}
.about4_2{ width:1200px; margin:0 auto; overflow:hidden;}
.about4_3{ width:100%; overflow:hidden; font-size:30px; font-weight:bold; color:#333; text-align:left; line-height:30px;}
.about4_4{ width:100%; min-height:567px; overflow:hidden; position:relative; margin-top:40px;}

.swiper-container4 {
	width: 656px;
	height: 468px;
	overflow:hidden;
	position:relative;
	float:right;
	margin-top:50px;
	z-index:11;
}
.swiper-container4 .swiper-slide {
	text-align: top;
	font-size: 18px;
	height:auto;
	
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: top;
	-ms-flex-pack: top;
	-webkit-justify-content: top;
	justify-content: top;
	-webkit-box-align: top;
	-ms-flex-align: top;
	-webkit-align-items: top;
	align-items: top;
}
.swiper-container4 .swiper-slide img{ display:block; width:100%; max-width:100%; height:100%;}
.swiper-container4_1{ width:605px; height:567px; position:absolute; top:0; left:0; z-index:10; margin-top:0;}
.swiper-container4 .swiper-button-prev4{ position:absolute; left:220px; bottom:105px; width:43px; height:43px; background:url(../images/about4_6.png) center center no-repeat; z-index:100; cursor:pointer; overflow:hidden; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;}
.swiper-container4 .swiper-button-next4{ position:absolute; left:296px; bottom:105px; width:43px; height:43px; background:url(../images/about4_7.png) center center no-repeat; z-index:100; cursor:pointer; overflow:hidden; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;}

.about4_5{ background:url(../images/about4_3.jpg) no-repeat; width:100%; height:100%; text-align:left;}

.about4_6{ float:left; margin-left:12%; width:68%; overflow:hidden; font-size:24px; color:#FFF; margin-top:90px; line-height:30px; height:30px; text-overflow:ellipsis; white-space:nowrap;}
.about4_7{ float:left; margin-left:12%; width:68%; overflow:hidden; font-size:14px; color:#FFF; line-height:24px; height:180px; border-bottom:1px solid #b23545; padding-bottom:20px; margin-top:20px;}
.about4_8{ float:left; margin-left:12%; width:62.5%; height:30px; line-height:30px; overflow:hidden; font-size:20px; color:#FFF; font-weight:bold; background:url(../images/about4_4.png) left center no-repeat; padding-left:5.5%; margin-top:10px;}

/* pro css */
.pro{ width:100%; overflow:hidden; background:#f6f6f6;}
.pro_in{ width:1200px; margin:0 auto; overflow:hidden;}
.pro_l{ float:left; width:260px; overflow:hidden; padding-bottom:40px; margin-top:40px; display:block;}
.pro_r{ float:right; width:940px; overflow:hidden;}

.pro_l1{ float:left; display:block;}
.pro_nav{ float:left; width:260px; overflow:hidden; background:#FFF;}
.pro_nav>li{ float:left; width:260px; overflow:hidden; margin-top:1px; background:#eaeaea;}
.pro_nav>li>div{ display:block; width:240px; height:56px; line-height:56px; text-align:left; padding-left:20px;}
.pro_nav>li>div a{ font-size:16px; color:#111;}
.pro_nav>li>div span{ float:right; margin-right:13px; margin-top:16px; display:block; width:25px; height:25px; background:url(../images/pro2.png) center center no-repeat #eaeaea; cursor:pointer;}
.pro_nav>li:hover>div span{ background:url(../images/pro2_1.png) center center no-repeat #eaeaea !important;}
.pro_nav>li:hover>div a{ color:#2d60c1 !important; font-weight:bold !important;}
.pro_nav>li .a_on span{ background:url(../images/pro2_1.png) center center no-repeat #eaeaea;}
.pro_nav>li .a_on a{ color:#2d60c1; font-weight:bold;}

.pro_nav1{ float:left; display:none; width:258px; border-left:1px solid #eaeaea; border-right:1px solid #eaeaea; text-align:left;}
.pro_nav1>li{ float:left; width:258px; height:50px; border-bottom:1px solid #eaeaea; background:#FFF;}
.pro_nav1>li>a{ display:block; width:238px; height:50px; line-height:50px; padding-left:20px; font-size:14px; color:#666; background:url(../images/pro3.png) 220px center no-repeat;}
.pro_nav1>li>a:hover{ background:url(../images/pro3_1.png) 220px center no-repeat;}
.pro_nav1>li .a_on1{ background:url(../images/pro3_1.png) 220px center no-repeat;}
.pro_nav> .a_on .pro_nav1{ display:block;}

.pro_r1{ float:left; width:940px; overflow:hidden; margin-top:20px;}
.pro_r1 li{ float:left; width:296px; height:356px; position:relative; margin-top:20px; margin-left:17.3px;}
.pro_r1 li a{ display:block; width:100%; height:100%; overflow:hidden;}
.pro_r2{ display:block; width:296px; height:211px; position:relative; z-index:1;}
.pro_r3{ display:block; width:296px; height:211px; position:absolute; z-index:2; top:0; left:0; filter: alpha(opacity=0); -moz-opacity: 0; -khtml-opacity: 0; opacity: 0; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;}
.pro_r4{ width:294px; height:143px; border:1px solid #e6e6e6; background:#FFF;}
.pro_r5{ width:86%; margin:0 auto; text-align:left; font-size:18px; font-weight:bold; color:#474643; height:30px; line-height:30px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; margin-top:15px;}
.pro_r6{ width:86%; margin:0 auto; text-align:left; font-size:15px; color:#666; height:20px; line-height:20px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; margin-top:8px;}
.pro_r7{ width:86%; margin:0 auto; text-align:left; font-size:13px; color:#808080; height:37px; line-height:37px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; border-top:1px solid #b9b9b9; background:url(../images/section3_6.png) right center no-repeat; margin-top:20px;}
.pro_r1 li a:hover .pro_r3{ filter: alpha(opacity=100); -moz-opacity: 1; -khtml-opacity: 1; opacity: 1;}

.pro_page{ width:100%; margin:0 auto; clear:both; overflow:hidden; min-height:45px; padding:50px 0;}

/* proIn css */
.proIn{ width:1200px; margin:0 auto; overflow:hidden; padding:75px 0 0 0;}
.proIn1{ width:90%; min-height:36px; line-height:36px; overflow:hidden; margin:0 auto; font-size:30px; font-weight:bold; color:#333;}
.proIn2{ width:90%; line-height:20px; overflow:hidden; margin:0 auto; font-size:14px; color:#666; padding:40px 0 30px 0;}
.proIn3{ width:100%; overflow:hidden; border-top:1px solid #dedede; padding:36px 0 30px 0;}
.proIn3_1{ display:inline-block; width:97px; height:40px; line-height:40px; font-size:16px; color:#FFF; text-align:left; background:url(../images/proIn2.png) 30px center no-repeat #e41a1a; padding-left:58px; overflow:hidden; margin:0 5px;}
.proIn3_2{ display:inline-block; width:144px; height:40px; line-height:40px; font-size:16px; color:#FFF; text-align:left; background:url(../images/proIn3.png) 22px center no-repeat #0967b8; padding-left:56px; overflow:hidden; margin:0 5px;}
.proIn4{ display:block; margin:0 auto; max-width:100%;}
.proIn5{ width:100%; margin-top:36px; overflow:hidden;}
.proIn5_1{ width:100%; height:49px; overflow:hidden; border-top:2px solid #3e6cb0; background:#82a3d3;}
.proIn5_1 span{ display:block; width:196px; height:49px; line-height:49px; background:#FFF; border-left:1px solid #678cc2; border-right:1px solid #678cc2; font-size:16px; font-weight:bold; color:#333;}
.proIn5_2{ width:100%; overflow:hidden; padding:40px 0; text-align:left; font-size:16px; color:#333; line-height:28px;}
.proIn5_2 img{ display:block; margin:0 auto; max-width:100%;}

.proIn_page{ width:100%; overflow:hidden; position:relative; padding:15px 0 40px; border-top:1px solid #dedede;}
.proIn_page1{ float:left; width:80%; height:20px; line-height:20px; font-size:14px; color:#333; text-align:left; margin-top:10px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.proIn_page1 a{ color:#333;}
.proIn_page1 a:hover{ text-decoration:underline;}
.proIn_page2{ display:block; width:86px; height:42px; line-height:42px; color:#FFF; font-size:14px; position:absolute; right:0; top:28px; background:url(../images/proIn5.png) 30px center no-repeat #d7000f; padding-left:50px; text-align:left; -webkit-border-radius:21px; -moz-border-radius:21px; border-radius:21px;}

.recommend{ width:100%; overflow:hidden; background:#f4f4f4; padding:30px 0;}
.recommend1{ width:1200px; margin:0 auto; overflow:hidden;}
.recommend2{ width:100%; height:46px; border-bottom:1px solid #eaeaea;}
.recommend2_1{ float:left; font-size:22px; font-weight:bold; color:#333; line-height:22px; height:47px; position:absolute;}
.recommend2_1 b{ color:#0068bb;}
.recommend2_1 span{ position:absolute; bottom:0; left:0; width:24px; height:1px; background:#0086f9;}
.recommend2 a{ float:right; display:block; font-size:14px; color:#666; height:20px; line-height:20px; margin-top:10px;}
.recommend2 a:hover{ text-decoration:underline;}
.recommend3{ width:100%; overflow:hidden;}
.recommend3 li{ float:left; margin-top:27px; width:23.5%; margin-right:2%;}
.recommend3 li a{ display:block; width:100%; height:100%;}
.recommend3_1{ width:100%; height:40px; line-height:50px; font-size:14px; color:#555; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.recommend3 li:last-child{ margin-right:0;}
.recommend3_2{ width:100%; overflow:hidden;}
.recommend3 li .recommend3_2 img{ display:block; width:100%; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;}
.recommend3 li a:hover .recommend3_1{ text-decoration:underline;}
.recommend3 li a:hover .recommend3_2 img{ -webkit-transform:scale(1.05) translateZ(0); -moz-transform:scale(1.05) translateZ(0); -ms-transform:scale(1.05) translateZ(0); -o-transform:scale(1.05) translateZ(0); transform:scale(1.05) translateZ(0);}

/* news css */
.class_nav .news_nav{ border-left:1px solid #e5e5e5; position:absolute; top:0; left:50%; margin-left:-600px;}
.class_nav .news_nav li{ float:left; border-right:1px solid #e5e5e5;}
.class_nav .news_nav li a{ display:block; height:59px; line-height:59px; font-size:16px; color:#333333; padding:0 167px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;}
.class_nav .news_nav li a:hover{ background:#d7000f; color:#FFF;}
.class_nav .news_nav li .a_on{ background:#d7000f; color:#FFF;}

.news1{ width:100%; overflow:hidden; background:#f7f7f7; padding-bottom:60px;}
.news2{ width:1200px; margin:40px auto 0 auto; overflow:hidden;}

.swiper-container5 {
	width: 600px;
	height: 337px;
	overflow:hidden;
	position:relative;
	float:left;
	z-index:10;
}
.swiper-container5 .swiper-slide {
	text-align: top;
	font-size: 18px;
	height:auto;
	
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: top;
	-ms-flex-pack: top;
	-webkit-justify-content: top;
	justify-content: top;
	-webkit-box-align: top;
	-ms-flex-align: top;
	-webkit-align-items: top;
	align-items: top;
}
.swiper-container5 .swiper-slide img{ display:block; width:100%; max-width:100%; height:100%;}
.swiper-container5_1{ float:right;}
.swiper-container5 .swiper-button-prev5{ position:absolute; left:0; top:50%; width:40px; height:70px; margin-top:-35px; background:url(../images/news2.png) center center no-repeat #000; z-index:100; cursor:pointer; overflow:hidden; filter: alpha(opacity=70); -moz-opacity: 0.7; -khtml-opacity: 0.7; opacity: 0.7;}
.swiper-container5 .swiper-button-next5{ position:absolute; right:0; top:50%; width:40px; height:70px; margin-top:-35px; background:url(../images/news3.png) center center no-repeat #000; z-index:100; cursor:pointer; overflow:hidden; filter: alpha(opacity=70); -moz-opacity: 0.7; -khtml-opacity: 0.7; opacity: 0.7;}

.news2_1{ display:block; width:100%; height:100%; overflow:hidden; position:relative;}
.news2_2{ width:90%; padding:0 5%; font-size:18px; color:#FFF; font-weight:bold; height:60px; line-height:60px; text-align:left; position:absolute; bottom:0; left:0; background:url(../images/news4.png) repeat; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

.news2_3{ width:91%; float:left; margin-left:9%; overflow:hidden; text-align:left;}
.news2_4{ float:left; width:97%; height:20px; line-height:20px; position:relative; font-size:19px; font-family:"Arial"; color:#333; padding-left:3%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.news2_4 span{ position:absolute; width:5px; height:20px; background:#e30016; left:0; top:0;}
.news2_5{ float:left; width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:24px; color:#333; font-weight:bold; height:30px; line-height:30px; margin-top:30px;}
.news2_6{ float:left; width:100%; font-size:14px; color:#666; height:20px; line-height:20px; margin-top:20px;}
.news2_7{ float:left; width:100%; overflow:hidden; font-size:14px; color:#666; height:120px; line-height:30px; margin-top:15px;}
.news2_8{ float:left; display:block; text-align:center; width:122px; height:38px; line-height:38px; border:1px solid #da0014; background:#da0014; color:#FFF; font-size:14px; margin-top:30px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;}
.news2_8:hover{ background:#FFF; color:#da0014;}

.news3{ width:1200px; margin:0 auto; overflow:hidden;}
.news3_1{ width:100%; overflow:hidden; padding-top:15px;}
.news3_1 li{ float:left; width:100%; border-bottom:1px solid #f0f0f0; padding:35px 0;}
.news3_1 li a{ width:100%; height:100%; overflow:hidden; display:block;}
.news3_2{ float:left; display:block; width:230px; height:128px; border:1px solid #f7f7f7;}
.news3_3{ float:left; width:166px; overflow:hidden;}
.news3_4{ float:left; width:100%; height:40px; line-height:40px; overflow:hidden; font-size:30px; font-family:"Arial"; font-weight:bold; color:#3d3d3d; margin-top:40px;}
.news3_5{ float:left; width:100%; height:20px; line-height:20px; overflow:hidden; font-size:14px; color:#666;}
.news3_6{ float:left; width:545px; overflow:hidden; text-align:left;}
.news3_7{ float:left; width:100%; height:30px; line-height:30px; overflow:hidden; font-size:18px; font-weight:bold; color:#333; margin-top:16px; text-overflow:ellipsis; white-space:nowrap;}
.news3_8{ float:left; width:100%; height:48px; overflow:hidden; font-size:14px; color:#666; line-height:24px; margin-top:12px;}
.news3_9{ float:right; width:46px; height:46px; background:url(../images/news7.png) center center no-repeat #ebcdcd; margin-right:15px; margin-top:42px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;}
.news3_1 li a:hover .news3_7{ text-decoration:underline;}
.news3_1 li a:hover .news3_9{ background:url(../images/news7.png) center center no-repeat #da0014;}

/* newsIn css */
.newsIn{ width:100%; overflow:hidden; text-align:left; border-top:1px solid #dedede; padding:40px 0; font-size:16px; color:#333; line-height:28px;}
.newsIn img{ display:block; margin:0 auto; max-width:100%;}

.recommend4{ width:100%; overflow:hidden; background:url(../images/newsIn2.jpg) center top repeat-y; margin-top:30px;}
.recommend4 li:nth-child(even){ float:right;}
.recommend4 li:nth-child(odd){ float:left;}
.recommend4 li{ width:46%; background:url(../images/newsIn3.png) left center no-repeat; text-align:left; padding:6px 0;}
.recommend4 li a{ float:left; margin-left:10px; font-size:14px; color:#666; line-height:20px; height:20px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; max-width:420px;}
.recommend4 li span{ float:right; font-size:14px; line-height:20px; font-family:"Arial"; color:#929292;}
.recommend4 li a:hover{ text-decoration:underline;}

/* case css */
.class_nav .case_nav{ border-left:1px solid #e5e5e5; position:absolute; top:0; left:50%; margin-left:-600px;}
.class_nav .case_nav li{ float:left; border-right:1px solid #e5e5e5;}
.class_nav .case_nav li a{ display:block; height:59px; line-height:59px; font-size:16px; color:#333333; padding:0 153.7px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;}
.class_nav .case_nav li a:hover{ background:#d7000f; color:#FFF;}
.class_nav .case_nav li .a_on{ background:#d7000f; color:#FFF;}

.case_title1{ float:left; height:60px; width:458px; background:url(../images/title_l.png) right 17px no-repeat;}
.case_title2{ float:left; width:284px; height:60px;}
.case_title3{ float:right; height:60px; width:458px; background:url(../images/title_r.png) left 17px no-repeat;}

.case{ width:1200px; margin:0 auto; overflow:hidden;}
.case1{ width:100%; overflow:hidden; margin-top:20px;}
.case1 li{ float:left; width:30.1%; margin:30px 1.5% 0 1.5%; border:1px solid #e7e7e7;}
.case1 li a{ display:block; width:100%; height:100%; overflow:hidden; position:relative;}
.case2{ display:block; width:100%; position:relative; z-index:1;}
.case3{ position:absolute; width:100%; bottom:-70px; left:0; z-index:10; background:url(../images/case3.png) repeat; overflow:hidden; padding-bottom:30px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;}
.case4{ width:94%; padding:0 3%; height:60px; line-height:60px; color:#FFF; font-size:16px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.case5{ width:124px; height:40px; line-height:40px; background:#d7000f; color:#FFF; font-size:14px; margin:0 auto;}
.case1 li a:hover .case3{ bottom:0; background:url(../images/case2.png) repeat;}

/* caseIn css */
.mod18Box { float:left; width:1200px; text-align:left; position:relative; display:block;}
.mod18{ width: 1200px; height: auto; margin: 0px auto; position: relative;}
.mod18 .btn{position:absolute;width:20px;height:38px;bottom:39px;cursor:pointer;z-index:99;}
.mod18 .prev{left:50px;background:url(../images/caseIn3.png) no-repeat;}
.mod18 .next{right:50px;background:url(../images/caseIn4.png) no-repeat;}

.mod18 li{float:left;}
.mod18 .cf{left:0;}
.mod18 .cf li{position:relative;}
.mod18 .cf a{display:block;width:1100px;height:420px;position:absolute;color:#fff;}
.mod18 .picBox{ width:1100px; height:420px;position:relative;overflow:hidden; margin:0 auto;}
.mod18 .picBox ul{height:420px;position:absolute; left:0;}
.mod18 .picBox li{width:1100px;height:420px;}
.mod18 .picBox li img{ display:block; width:750px; height:420px; margin:0 auto;}

.mod18 .listBox{ width: 990px; height: 76px; margin: 30px auto 0 auto; position: relative; overflow: hidden; padding:20px 0; z-index:10;}
.mod18 .listBox ul{position:absolute;}
.mod18 .listBox li{width:129px;height:68px;cursor:pointer;position:relative; margin:0 6px;}
.mod18 .listBox li i{display:none;}
.mod18 .listBox li img{width:121px;height:68px;border:2px solid #cfcfcf; padding:2px;}
.mod18 .listBox .on img{width:121px;height:68px;border:2px solid #005bac;}
.mod18 .listBox .on i{display:block;}

.mod18Box_bg{ position:absolute; bottom:0; left:0; width:100%; height:116px; background:#f5f5f5; z-index:1;}

.swiper-container6 {
	width: 100%;
	height: 100%;
	position:relative;
	display:none;
}

.caseIn1{ width:1200px; margin:0 auto; overflow:hidden;}
.caseIn2{ float:left; width:100%; overflow:hidden; background:url(../images/caseIn6.jpg) left 16px repeat-x; margin-top:45px;}
.caseIn3{ float:left; width:120px; height:30px; line-height:30px; text-align:left; font-size:24px; color:#6b6d6b; padding-left:30px; background:url(../images/caseIn5.jpg) left center no-repeat #FFF;}
.caseIn4{ float:left; width:100%; overflow:hidden; text-align:left; padding:40px 0; font-size:16px; color:#333; line-height:28px;}
.caseIn4 img{ display:block; margin:0 auto; max-width:100%;}

/* partner1 css */
.partner1{ width:100%; overflow:hidden; background:#f7f7f7; padding-bottom:50px;}
.partner2{ width:1200px; margin:0 auto; overflow:hidden;}
.partner2_1{ width:100%; overflow:hidden; font-size:26px; font-weight:bold; color:#162b3b; margin-top:35px; line-height:40px;}
.partner2_1 b{ font-size:36px;}
.partner2_1 span{ color:#a70b16;}
.partner2_2{ width:100%; overflow:hidden; font-size:24px; color:#5b5d5b; margin-top:15px; line-height:30px;}
.partner2_3{ display:block; margin:0 auto; max-width:100%; margin-top:40px;}

.partner3{ width:100%; overflow:hidden; padding:0 0; background:url(../images/about4_1.jpg) center 135px no-repeat; padding-bottom:110px;}
.partner4{ width:1200px; margin:70px auto 0 auto; overflow:hidden;}
.partner4 li{ float:left; width:233px; height:291px; background:url(../images/partner2.png) no-repeat; margin:0 3.5px; margin-top:30px;}
.partner4_1{ width:100%; height:100px; line-height:100px; font-size:38px; color:#FFF; overflow:hidden;}
.partner4_2{ width:100%; height:70px; line-height:70px; font-size:22px; color:#1f85be; font-weight:bold; overflow:hidden;}
.partner4_3{ width:90%; line-height:20px; font-size:14px; color:#888888; margin:0 auto;}

/* contact css */
.contact{ width:1200px; margin:0 auto; overflow:hidden; padding:40px 0 60px 0;}
.contact_l{ float:left; width:540px; overflow:hidden;}
.contact_r{ float:right; width:648px; overflow:hidden; position:relative; padding-bottom:15px;}

.contact_l1{ float:left; margin-left:3%; width:97%; overflow:hidden; text-align:left; font-size:16px; color:#666; line-height:48px;}
.contact_l2{ float:left; margin-left:3%; overflow:hidden; margin-top:20px;}
.contact_l2 img{ display:block; border:1px solid #c9c9c9;}
.contact_l3{ width:100%; height:34px; line-height:34px; font-size:14px; color:#666;}

.contact_r1{ width:33px; height:33px; background:#2b5cb9; position:absolute; top:255px; left:0;}
.contact_r2{ width:150px; height:150px; background:#2b5cb9; position:absolute; bottom:0; right:0;}
.map{ width:628px; height:436px; font-size:12px; float:right; margin-right:15px; position:relative; z-index:10;}

.contact1{ width:100%; overflow:hidden; background:#f9f9f9; padding:50px 0}
.contact2{ width:1200px; margin:0 auto; overflow:hidden;}
.contact3{ float:left; width:100%; overflow:hidden; text-align:left;}
.contact3_1{ float:left; width:100%; overflow:hidden; font-size:28px; color:#333; line-height:28px; height:36px;}
.contact3_2{ float:left; width:100%; overflow:hidden; font-size:14px; color:#b8b8be; font-family:"Arial"; line-height:20px; height:20px;}

.contact3_l{ float:left; width:49%; overflow:hidden;}
.contact3_r{ float:right; width:49%; overflow:hidden;}
.contact3_r1{ float:left; width:99.3%; overflow:hidden;}

.input_text1{ float:left; width:95%; height:42px; line-height:42px; border:1px solid #cacaca; padding:0 2%; outline:none; font-size:16px; color:#666666; font-family:"微软雅黑"; margin-top:25px;}
.input_text2{ float:left; width:20%; height:42px; line-height:42px; border:1px solid #cacaca; padding:0 2%; outline:none; font-size:16px; color:#666666; font-family:"微软雅黑"; margin-top:25px;}
.textarea1{ float:left; width:95%; height:111px; line-height:42px; border:1px solid #cacaca; padding:0 2%; outline:none; font-size:16px; color:#666666; font-family:"微软雅黑"; margin-top:25px;}
.button1{ float:right; width:26%; height:44px; background:#0172c2; border:none; cursor:pointer; outline:none; margin-top:25px; font-size:16px; color:#FFF; font-family:"微软雅黑";}
.contact3_r2{ float:left; width:114px; height:44px; margin-left:4%; margin-top:25px; cursor:pointer;}

/* recruit css */
.recruit1{ overflow:hidden; padding-bottom:60px; border-bottom:1px solid #ededed; width:100%;}

.recruit3{ float:none; width:1200px; margin:0 auto; margin-top:50px; overflow:hidden;}
.recruit3_1{ float:left; width:100%; overflow:hidden; line-height:20px; background:#f7f7f7; text-align:left; font-size:20px; color:#666; padding:15px 0;}
.recruit3_2{ float:left; width:30%; padding:0 1%;}
.recruit3_3{ float:left; width:12%; padding:0 1%;}
.recruit3_4{ float:left; width:18%; padding:0 1%;}
.recruit3_5{ float:left; width:14%; padding:0 1%;}
.recruit3_6{ float:left; width:10%; padding:0 1%;}

.recruit4{ float:left; width:100%; overflow:hidden;}
.recruit4 li{ float:left; width:100%; overflow:hidden; border-bottom:1px solid #eeeeee;}
.recruit4_1{ float:left; width:100%; overflow:hidden; text-align:left; font-size:16px; color:#999999; cursor:pointer;}
.recruit4_2{ float:left; width:30%; padding:0 1%; line-height:80px;}
.recruit4_3{ float:left; width:12%; padding:0 1%; line-height:80px;}
.recruit4_4{ float:left; width:18%; padding:0 1%; line-height:80px;}
.recruit4_5{ float:left; width:14%; padding:0 1%; line-height:80px;}
.recruit4_6{ float:left; width:10%; padding:0 1%; line-height:80px;}
.recruit4_7{ float:left; width:6%; height:80px; background:url(../images/recruit2.jpg) center center no-repeat; cursor:pointer;}

.recruit4_8{ font-size:14px; color:#666; line-height:30px; padding:20px 0; border-bottom:1px solid #e5e5e5;}
.recruit4_9{ float:left; width:100%; overflow:hidden; padding:30px 0;}
.recruit4_10{ float:left; display:block; width:154px; height:44px; background:url(../images/recruit4.jpg) no-repeat;}
.recruit4_11{ float:right; font-size:16px; color:#666; height:44px; line-height:44px;}
.recruit4_12{ display:none; float:left; width:96%; background:#f7f7f7; text-align:left; padding:0 2%;}

.return_top{ display:none;}

.proIn_new1{ width:100%; overflow:hidden; padding:20px 0 50px 0; border-bottom:1px solid #dedede;}
.proIn_new1_l{ float:left; width:46%; overflow:hidden;}
.proIn_new1_l1{ float:left; width:96%; overflow:hidden; text-align:left; font-size:18px; color:#222; line-height:36px; padding:20px 4% 20px 0;}

.proIn_new_title{ float:left; width:100%; overflow:hidden; text-align:left; border-bottom:1px solid #dedede; padding:18px 0;}
.proIn_new_title1{ display:inline-block; color:#004098; height:80px; line-height:80px;}
.proIn_new_title1 .span1{ font-size:72px; font-family:"Verdana"; font-weight:bold; vertical-align:middle;}
.proIn_new_title1 .span2{ font-size:60px; font-weight:lighter; vertical-align:middle;}
.proIn_new_title2{ display:inline-block; height:80px; vertical-align:middle;}
.proIn_new_title2_1{ float:left; overflow:hidden; font-size:32px; font-weight:bold; color:#004098; margin-top:9px;}
.proIn_new_title2_2{ float:left; overflow:hidden; font-size:14px; font-family:"Arial"; color:#727171; margin-top:5px; clear:both;}

.proIn_new1_r{ float:right; display:block; width:600px; height:auto;}

.proIn_new2{ float:left; width:100%; overflow:hidden; padding:10px 0 0 0; border-bottom:1px solid #dedede;}
.proIn_new2_1{ float:left; width:100%; overflow:hidden;}
.proIn_new2_1>li{ float:left; width:100%; text-align:left; overflow:hidden; border-bottom:1px solid #dedede; padding-top:20px;}
.proIn_new2_1>li:last-child{ border-bottom:0;}
.proIn_new2_2{ float:left; width:100%; font-size:30px; font-weight:bold; color:#1d5eb3; line-height:36px; padding:17px 0;}
.proIn_new2_3{ float:left; width:46.8%; line-height:44px; background:#1d5eb3; clear:both; font-size:26px; font-weight:lighter; color:#7899c3; padding:0 1.6%;}
.proIn_new2_4{ float:left; width:100%; overflow:hidden; font-size:16px; color:#222; line-height:32px; padding:20px 0;}
.proIn_new2_4 .span1{ color:#3165cb;}

.proIn_new3{ float:left; width:100%; overflow:hidden; margin-top:20px;}
.proIn_new3>li{ float:left; width:100%; overflow:hidden; border-top:1px dashed #dedede; padding:50px 0;}
.proIn_new3_l{ float:left; width:46%; overflow:hidden; text-align:left;}
.proIn_new3_r{ float:right; display:block; width:600px;}
.proIn_new3_l1{ float:left; width:96.5%; overflow:hidden; font-size:18px; font-weight:bold; color:#1d5eb3; line-height:24px; padding-left:3.5%; background:url(../images/proIn_new2.jpg) left 3px no-repeat;}
.proIn_new3_l2{ float:left; width:100%; overflow:hidden; font-size:16px; color:#222; line-height:30px; margin-top:20px;}
.proIn_new3_l3{ float:left; width:100%; overflow:hidden; margin-top:30px;}
.proIn_new3_l3>li{ float:left; height:46px; line-height:46px; border:1px solid #1d5eb3; padding:0 15px; font-size:18px; color:#1d5eb3; margin:10px 10px 0 0; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px;}

.proIn_new4{ float:left; width:100%; overflow:hidden; border-bottom:1px solid #dedede;}
.proIn_new2_3 span{ color:#FFF;}
.proIn_new4_1>li{ border-bottom:1px dashed #dedede;}
.proIn_new4_2{ float:left; width:100%; overflow:hidden; border-top:1px dashed #dedede; padding:30px 0 50px 0;}
.proIn_new4_3{ float:left; display:block; width:480px; height:auto;}
.proIn_new_table{ float:right; width:720px; border:1px solid #dddddd; border-collapse:collapse;}
.proIn_new_table tr th{ border:1px solid #dddddd; background:#7491c6; color:#FFF; font-size:16px; height:50px; padding:0 15px;}
.proIn_new_table tr td{ border:1px solid #dddddd; font-size:16px; color:#343434; height:30px; padding:0 15px;}
.proIn_new_table tr td:first-child{ min-width:150px; width:150px;}
.proIn_new_table tr:nth-child(odd){ background:#ebebeb;}
.proIn_new_table1 tr:nth-child(even){ background:#ebebeb;}
.proIn_new_table1 tr:nth-child(odd){ background:none;}
.proIn_new_table1 tr:nth-child(2){ background:#bbe1fd;}
.proIn_new_table1 tr td:first-child{ min-width:280px; width:280px;}
.proIn_new_table2 tr:nth-child(2){ background:#bbe1fd; font-weight:bold;}
.proIn_new_table2 tr td{ height:40px;}

.proIn_new5{ float:left; width:100%; overflow:hidden;}

.proIn_new5_1{ float:left; width:100%; overflow:hidden; text-align:left; font-size:18px; color:#222; line-height:32px; padding:20px 0 50px 0;}
.proIn_new5_1 img{ display:block; margin:0 auto; max-width:100%;}

.swiper-container11 {
	width: 1200px;
	height: 46px;
	position:absolute;
	bottom:0;
	left:50%;
	margin-left:-600px;
	overflow:hidden;
}
.swiper-container11 .swiper-slide {
	height:46px;
	line-height:46px;
	text-align: center;
	font-size: 14px;
	background:url(../images/index_news_bg.png) repeat;
	text-align:left;
	color:#FFF;
}
.swiper-container11 .swiper-slide img{ float:left; margin-left:2%; margin-top:12px;}
.swiper-container11 .swiper-slide .span1{ float:left; margin-left:1%;}
.swiper-container11 .swiper-slide .span2{ float:left; color:#FFF; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; display:block; max-width:75%;}
.swiper-container11 .swiper-slide .span2:hover{ text-decoration:underline;}
.swiper-container11 .swiper-slide .span3{ float:right; margin-right:2%;}

.postion{ overflow:hidden; text-align:left; font-size:13px; line-height:20px; color:#666; padding-top:30px;}
.postion a{ color:#666;}
.postion span{ color:#666;}
.postion img{ display:inline-block;}
